# Domain Verification

Welcome to this documentation guide on domain verification to obtain a verified badge for your ecosystem.

Obtaining a verified badge on your ecosystem offers several advantages, including:

- Increased credibility and trust for your ecosystem.
- Enhanced user confidence during the login process and interactions within the branded studio.
- Clear indication of verified ownership and legitimacy.

<div style="position: relative; padding-bottom: 55.208333333333336%; height: 0;"><iframe src="https://www.loom.com/embed/5dd900ffe74f4a978c9517cc7a9cc8e3?sid=62405c53-2bff-47b2-9909-46a532f6e10d" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>

## Step 1: Accessing Domain Settings

Start by accessing your dashboard settings. Locate and click on the "Domain" option.

## Step 2: Domain Ownership Check

Within the domain settings, you'll see the domain associated with your ecosystem. Note that the domain is owned by you.

## Step 3: Initiate Verification

To initiate the verification process, click on the "Verify Domain" button.

## Step 4: Verification Record Creation

Choose a subdomain that you want to verify (e.g., `subdomain.yourdomain.com`).

Follow these steps to create a TXT record in your DNS provider configuration:

- **Host Name**: Enter the subdomain you've chosen (e.g., `subdomain`).

- **Value**: Copy the provided TXT record (e.g., `this_is_your_txt_record`).

Access your DNS provider's configuration panel and create a new TXT record and paste the copied TXT record value. Save the changes and ensure they are propagated across the DNS network.

## Step 5: Verification Completion

Return to the domain settings in your dashboard.

Click on the "Check for Changes" button.

Note that DNS changes may take up to 72 hours to propagate fully.

## Step 6: Verification Confirmation

Once DNS changes have propagated, click on the "Verify Domain" button again.

Your domain will be successfully verified, and you will regain the verified badge on your ecosystem.

## Conclusion

Congratulations! You've successfully verified your domain, gaining a verified badge for your ecosystem. This verification adds an extra layer of accountability and trustworthiness, enhancing the user experience and interactions within your ecosystem. If you have any questions or need further assistance, don't hesitate to reach out for support.

Thank you for following this domain verification guide, and we hope it helps you establish a more credible and trustworthy ecosystem.
