/.github/   @fundthmcalculus @tmarkovski
/cli/       @tmarkovski
/dart/      @fundthmcalculus
/devops/    @fundthmcalculus
/docs/      @michaeldboyd @geel9
/dotnet/    @tmarkovski @fundthmcalculus
/go/        @fundthmcalculus @sethjback
/java/      @fundthmcalculus
/proto/     @fundthmcalculus @tmarkovski
/python/    @fundthmcalculus
/ruby/      @fundthmcalculus
/web/       @tmarkovski @MichaelEdwardBlack @fundthmcalculus
