/.github/   @fundthmcalculus @tmarkovski
/docs/      @michaeldboyd
/dotnet/    @tmarkovski
/go/        @fundthmcalculus
/java/      @fundthmcalculus
/node/      @tmarkovski
/proto/     @fundthmcalculus @tmarkovski
/python/    @fundthmcalculus
/ruby/      @fundthmcalculus
/web/      @tmarkovski
