mkdocs
git+https://github.com/squidfunk/mkdocs-material@master#egg=mkdocs-material
git+https://github.com/trinsic-id/mkdocs-codeinclude-plugin@master#egg=mkdocs-codeinclude-plugin
mkdocs-macros-plugin
git+https://github.com/trinsic-id/mkdocs-git-authors-plugin@sort-order#egg=mkdocs-git-authors-plugin
mkdocstrings
mkdocstrings-python-legacy
mkdocs-autorefs
markdown-fenced-code-tabs