# Trinsic.Connect.Model.ValidationResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**MemberNames** | **List&lt;string&gt;** |  | [optional] [readonly]
**ErrorMessage** | **string** |  | [optional]

[[Back to Model list]](../src/Trinsic.Connect/README.md#documentation-for-models) [[Back to API list]](../src/Trinsic.Connect/README.md#documentation-for-api-endpoints) [[Back to README]](../src/Trinsic.Connect/README.md)

