# Trinsic.Connect.Model.Verification
A Verification contained within a Session

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**Provider** | **string** | The identity provider that was used to perform the Verification, if any | [optional] 
**FailCode** | **VerificationFailCode** | If the Verification is in state &#x60;VerificationFailed&#x60;, this field contains the reason for failure | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)

