{
  "openapi": "3.0.1",
  "info": {
    "title": "Connect API",
    "version": "v1",
    "x-swaggerexclude": "External"
  },
  "servers": [
    {
      "url": "https://connect.trinsic.id",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/v1/sessions": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "operationId": "ListSessions",
        "parameters": [
          {
            "name": "OrderBy",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SessionOrdering"
                }
              ]
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/OrderDirection"
                }
              ]
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "maximum": 10,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Sessions"
        ],
        "operationId": "CreateSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateSessionRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateSessionRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateSessionRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/sessions/{sessionId}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "operationId": "GetSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionResponseV1"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionResponseV1"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/sessions/{sessionId}/cancel": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "operationId": "CancelSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CancelSessionResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelSessionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/sessions/{sessionId}/redact": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "operationId": "RedactSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CancelSessionResponse": {
        "required": [
          "session"
        ],
        "type": "object",
        "properties": {
          "session": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Session"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "CreateSessionRequest": {
        "type": "object",
        "properties": {
          "governmentIdOptions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GovernmentIDOptionsRequest"
              }
            ]
          }
        }
      },
      "CreateSessionResponse": {
        "required": [
          "session"
        ],
        "type": "object",
        "properties": {
          "session": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Session"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "FailureMessage": {
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "GetSessionResponseV1": {
        "required": [
          "session"
        ],
        "type": "object",
        "properties": {
          "session": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Session"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "GovernmentIDOptions": {
        "required": [
          "address",
          "country",
          "dateOfBirth",
          "expirationDate",
          "familyName",
          "givenName",
          "idNumber",
          "issueDate"
        ],
        "type": "object",
        "properties": {
          "idNumber": {
            "type": "boolean"
          },
          "givenName": {
            "type": "boolean"
          },
          "familyName": {
            "type": "boolean"
          },
          "address": {
            "type": "boolean"
          },
          "dateOfBirth": {
            "type": "boolean"
          },
          "country": {
            "type": "boolean"
          },
          "issueDate": {
            "type": "boolean"
          },
          "expirationDate": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "GovernmentIDOptionsRequest": {
        "type": "object",
        "properties": {
          "idNumber": {
            "type": "boolean"
          },
          "givenName": {
            "type": "boolean"
          },
          "familyName": {
            "type": "boolean"
          },
          "address": {
            "type": "boolean"
          },
          "dateOfBirth": {
            "type": "boolean"
          },
          "country": {
            "type": "boolean"
          },
          "issueDate": {
            "type": "boolean"
          },
          "expirationDate": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "IDVSessionState": {
        "enum": [
          "IdvCreated",
          "IdvInitiated",
          "IdvAuthenticating",
          "IdvInProgress",
          "IdvSuccess",
          "IdvFailed"
        ],
        "type": "string"
      },
      "ListSessionsResponse": {
        "required": [
          "more",
          "sessions",
          "total"
        ],
        "type": "object",
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "more": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "NormalizedIdentityData": {
        "type": "object",
        "properties": {
          "idNumber": {
            "type": "string"
          },
          "givenName": {
            "type": "string"
          },
          "familyName": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "issueDate": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "OrderDirection": {
        "enum": [
          "Ascending",
          "Descending"
        ],
        "type": "string"
      },
      "Session": {
        "required": [
          "clientToken",
          "created",
          "id",
          "state",
          "updated",
          "verification"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientToken": {
            "type": "string"
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IDVSessionState"
              }
            ]
          },
          "failCode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SessionFailCode"
              }
            ]
          },
          "verification": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Verification"
              }
            ]
          },
          "resultVp": {
            "type": "string"
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "updated": {
            "type": "integer",
            "format": "int64"
          }
        },
        "additionalProperties": false
      },
      "SessionFailCode": {
        "enum": [
          "SessionFailNone",
          "SessionFailInternal",
          "SessionFailVerificationFailed",
          "SessionFailAuthentication",
          "SessionFailExpired",
          "SessionFailUserCanceled",
          "SessionFailRpcCanceled"
        ],
        "type": "string"
      },
      "SessionOrdering": {
        "enum": [
          "Created",
          "Updated",
          "State"
        ],
        "type": "string"
      },
      "ValidationResult": {
        "required": [
          "memberNames"
        ],
        "type": "object",
        "properties": {
          "memberNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "readOnly": true
          },
          "errorMessage": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Verification": {
        "required": [
          "governmentIdOptions",
          "id",
          "reused",
          "state",
          "updated"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VerificationState"
              }
            ]
          },
          "failCode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VerificationFailCode"
              }
            ]
          },
          "reused": {
            "type": "boolean"
          },
          "updated": {
            "type": "integer",
            "format": "int64"
          },
          "governmentIdOptions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GovernmentIDOptions"
              }
            ]
          },
          "normalizedGovernmentIdData": {
            "allOf": [
              {
                "$ref": "#/components/schemas/NormalizedIdentityData"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "VerificationFailCode": {
        "enum": [
          "VerificationFailNone",
          "VerificationFailInternal",
          "VerificationFailInvalidImage",
          "VerificationFailInauthentic",
          "VerificationFailUnsupportedDocument"
        ],
        "type": "string"
      },
      "VerificationState": {
        "enum": [
          "VerificationPending",
          "VerificationSuccess",
          "VerificationFailed"
        ],
        "type": "string"
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "Trinsic Connect API Key",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "Bearer": [ ]
    }
  ]
}