{
  "openapi": "3.0.1",
  "info": {
    "title": "Connect API",
    "version": "v1",
    "x-swaggerexclude": "External"
  },
  "servers": [
    {
      "url": "https://connect.trinsic.id",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/v1/acceptance/integrations": {
      "get": {
        "tags": [
          "Acceptance"
        ],
        "operationId": "ListIntegrations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ListIntegrationsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListIntegrationsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListIntegrationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/acceptance/verification-session": {
      "put": {
        "tags": [
          "Acceptance"
        ],
        "operationId": "CreateVerificationSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateVerificationSessionRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateVerificationSessionRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateVerificationSessionRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVerificationSessionResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVerificationSessionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVerificationSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/acceptance/verification-session/{verificationSessionId}/exchange": {
      "post": {
        "tags": [
          "Acceptance"
        ],
        "operationId": "ExchangeToken",
        "parameters": [
          {
            "name": "verificationSessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExchangeTokenRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExchangeTokenRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExchangeTokenRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeTokenResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeTokenResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/acceptance/resource": {
      "get": {
        "tags": [
          "Acceptance"
        ],
        "operationId": "GetLinkedResource",
        "parameters": [
          {
            "name": "resourceToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/identities/credentials/can-reuse": {
      "post": {
        "tags": [
          "Identities"
        ],
        "operationId": "CanReuseCredential",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CanReuseCredentialRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CanReuseCredentialRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CanReuseCredentialRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CanReuseCredentialResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanReuseCredentialResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanReuseCredentialResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/sessions": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "operationId": "ListSessions",
        "parameters": [
          {
            "name": "OrderBy",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SessionOrdering"
                }
              ]
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/OrderDirection"
                }
              ]
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "maximum": 10,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Sessions"
        ],
        "operationId": "CreateSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateSessionRequest"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateSessionRequest"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateSessionRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/sessions/{sessionId}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "operationId": "GetSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionResponseV1"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionResponseV1"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/sessions/{sessionId}/cancel": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "operationId": "CancelSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CancelSessionResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelSessionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/sessions/{sessionId}/redact": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "operationId": "RedactSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string"
          },
          "line2": {
            "type": "string"
          },
          "line3": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "fullAddress": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CanReuseCredentialRequest": {
        "required": [
          "phoneNumber"
        ],
        "type": "object",
        "properties": {
          "phoneNumber": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CanReuseCredentialResponse": {
        "required": [
          "hasValidCredential"
        ],
        "type": "object",
        "properties": {
          "hasValidCredential": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "CancelSessionResponse": {
        "required": [
          "session"
        ],
        "type": "object",
        "properties": {
          "session": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Session"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "CreateSessionRequest": {
        "type": "object",
        "properties": {
          "fields": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DisclosedFieldsRequest"
              }
            ]
          }
        }
      },
      "CreateSessionResponse": {
        "required": [
          "session"
        ],
        "type": "object",
        "properties": {
          "session": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Session"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "CreateVerificationSessionRequest": {
        "required": [
          "integrationId",
          "redirectUrl"
        ],
        "type": "object",
        "properties": {
          "integrationId": {
            "minLength": 1,
            "type": "string"
          },
          "redirectUrl": {
            "minLength": 1,
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": false
      },
      "CreateVerificationSessionResponse": {
        "required": [
          "launchUrl",
          "sessionId"
        ],
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string"
          },
          "launchUrl": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "DisclosedFields": {
        "required": [
          "address",
          "country",
          "dateOfBirth",
          "expirationDate",
          "familyName",
          "givenName",
          "idNumber",
          "issueDate"
        ],
        "type": "object",
        "properties": {
          "idNumber": {
            "type": "boolean"
          },
          "givenName": {
            "type": "boolean"
          },
          "familyName": {
            "type": "boolean"
          },
          "address": {
            "type": "boolean"
          },
          "dateOfBirth": {
            "type": "boolean"
          },
          "country": {
            "type": "boolean"
          },
          "issueDate": {
            "type": "boolean"
          },
          "expirationDate": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "DisclosedFieldsRequest": {
        "type": "object",
        "properties": {
          "idNumber": {
            "type": "boolean"
          },
          "givenName": {
            "type": "boolean"
          },
          "familyName": {
            "type": "boolean"
          },
          "address": {
            "type": "boolean"
          },
          "dateOfBirth": {
            "type": "boolean"
          },
          "country": {
            "type": "boolean"
          },
          "issueDate": {
            "type": "boolean"
          },
          "expirationDate": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "DocumentData": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "issueDate": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string"
          },
          "issuingCountry": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ExchangeTokenRequest": {
        "required": [
          "token"
        ],
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ExchangeTokenResponse": {
        "required": [
          "sessionId",
          "state"
        ],
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string"
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VerificationSessionState"
              }
            ]
          },
          "failCode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VerificationFailCode"
              }
            ]
          },
          "identityData": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IdentityData"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "FailureMessage": {
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "GetSessionResponseV1": {
        "required": [
          "session"
        ],
        "type": "object",
        "properties": {
          "session": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Session"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "IDVSessionState": {
        "enum": [
          "IdvCreated",
          "IdvInitiated",
          "IdvAuthenticating",
          "IdvInProgress",
          "IdvSuccess",
          "IdvFailed"
        ],
        "type": "string"
      },
      "IdentityData": {
        "type": "object",
        "properties": {
          "originatingIntegrationId": {
            "type": "string"
          },
          "person": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PersonData"
              }
            ]
          },
          "document": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DocumentData"
              }
            ]
          },
          "linkedResources": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LinkedResources"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "Integration": {
        "required": [
          "id",
          "logoUrl",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "logoUrl": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "LinkedResources": {
        "type": "object",
        "properties": {
          "selfie": {
            "type": "string"
          },
          "documentFront": {
            "type": "string"
          },
          "documentBack": {
            "type": "string"
          },
          "documentPortrait": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ListIntegrationsResponse": {
        "required": [
          "integrations"
        ],
        "type": "object",
        "properties": {
          "integrations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Integration"
            }
          }
        },
        "additionalProperties": false
      },
      "ListSessionsResponse": {
        "required": [
          "more",
          "sessions",
          "total"
        ],
        "type": "object",
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "more": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "OrderDirection": {
        "enum": [
          "Ascending",
          "Descending"
        ],
        "type": "string"
      },
      "PersonData": {
        "type": "object",
        "properties": {
          "givenName": {
            "type": "string"
          },
          "familyName": {
            "type": "string"
          },
          "middleName": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "nationality": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "address": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Address"
              }
            ]
          },
          "dateOfBirth": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Session": {
        "required": [
          "clientToken",
          "created",
          "id",
          "state",
          "updated",
          "verification"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientToken": {
            "type": "string"
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IDVSessionState"
              }
            ]
          },
          "failCode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SessionFailCode"
              }
            ]
          },
          "verification": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Verification"
              }
            ]
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "updated": {
            "type": "integer",
            "format": "int64"
          }
        },
        "additionalProperties": false
      },
      "SessionFailCode": {
        "enum": [
          "SessionFailNone",
          "SessionFailInternal",
          "SessionFailVerificationFailed",
          "SessionFailAuthentication",
          "SessionFailExpired",
          "SessionFailUserCanceled",
          "SessionFailRpcCanceled"
        ],
        "type": "string"
      },
      "SessionOrdering": {
        "enum": [
          "Created",
          "Updated",
          "State"
        ],
        "type": "string"
      },
      "ValidationResult": {
        "required": [
          "memberNames"
        ],
        "type": "object",
        "properties": {
          "memberNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "readOnly": true
          },
          "errorMessage": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Verification": {
        "required": [
          "disclosedFields",
          "id",
          "reused",
          "state",
          "updated"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VerificationState"
              }
            ]
          },
          "failCode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VerificationFailCode"
              }
            ]
          },
          "reused": {
            "type": "boolean"
          },
          "updated": {
            "type": "integer",
            "format": "int64"
          },
          "disclosedFields": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DisclosedFields"
              }
            ]
          },
          "identityData": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IdentityData"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "VerificationFailCode": {
        "enum": [
          "VerificationFailNone",
          "VerificationFailInternal",
          "VerificationFailInvalidImage",
          "VerificationFailInauthentic",
          "VerificationFailUnsupportedDocument"
        ],
        "type": "string"
      },
      "VerificationSessionState": {
        "enum": [
          "Pending",
          "Processing",
          "Success",
          "Failed"
        ],
        "type": "string"
      },
      "VerificationState": {
        "enum": [
          "VerificationPending",
          "VerificationSuccess",
          "VerificationFailed"
        ],
        "type": "string"
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "Trinsic Connect API Key",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "Bearer": [ ]
    }
  ]
}