{
  "openapi": "3.0.1",
  "info": {
    "title": "Internal API",
    "version": "v1",
    "x-swaggerexclude": "Internal"
  },
  "servers": [
    {
      "url": "https://connect-api.trinsic.id",
      "description": "Production server"
    },
    {
      "url": "https://dev-connect-api.trinsic.id",
      "description": "Development server"
    },
    {
      "url": "https://staging-connect-api.trinsic.id",
      "description": "Staging server"
    }
  ],
  "paths": {
    "/v1/identities/credentials/can-reuse": {
      "post": {
        "tags": [
          "Identity"
        ],
        "operationId": "Identity.CanReuseCredential",
        "parameters": [
          {
            "name": "TrinsicAuthorization",
            "in": "header",
            "description": "Bearer token. Can be left empty on anonymous endpoints",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "default": "Bearer "
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CanReuseCredentialRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CanReuseCredentialRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CanReuseCredentialRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CanReuseCredentialResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanReuseCredentialResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanReuseCredentialResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/sessions/list": {
      "post": {
        "tags": [
          "Session"
        ],
        "operationId": "Session.ListSessions",
        "parameters": [
          {
            "name": "TrinsicAuthorization",
            "in": "header",
            "description": "Bearer token. Can be left empty on anonymous endpoints",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "default": "Bearer "
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSessionsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSessionsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ListSessionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponseV1"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponseV1"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/sessions/get": {
      "get": {
        "tags": [
          "Session"
        ],
        "operationId": "Session.GetSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "query",
            "schema": {
              "maxLength": 100,
              "minLength": 5,
              "type": "string"
            }
          },
          {
            "name": "TrinsicAuthorization",
            "in": "header",
            "description": "Bearer token. Can be left empty on anonymous endpoints",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "default": "Bearer "
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionResponseV1"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionResponseV1"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/sessions": {
      "post": {
        "tags": [
          "Session"
        ],
        "operationId": "Session.CreateSession",
        "parameters": [
          {
            "name": "TrinsicAuthorization",
            "in": "header",
            "description": "Bearer token. Can be left empty on anonymous endpoints",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "default": "Bearer "
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/sessions/cancel": {
      "post": {
        "tags": [
          "Session"
        ],
        "operationId": "Session.CancelSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TrinsicAuthorization",
            "in": "header",
            "description": "Bearer token. Can be left empty on anonymous endpoints",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "default": "Bearer "
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CancelSessionResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelSessionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ValidationResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CanReuseCredentialRequest": {
        "required": [
          "identity"
        ],
        "type": "object",
        "properties": {
          "identity": {
            "$ref": "#/components/schemas/ExternalIdentity"
          },
          "credentialRequestData": {
            "$ref": "#/components/schemas/CredentialRequestData"
          }
        },
        "additionalProperties": false
      },
      "CanReuseCredentialResponse": {
        "type": "object",
        "properties": {
          "hasValidCredential": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "CancelSessionResponse": {
        "type": "object",
        "properties": {
          "session": {
            "$ref": "#/components/schemas/Session"
          }
        },
        "additionalProperties": false
      },
      "CreateSessionRequest": {
        "type": "object",
        "properties": {
          "verifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RequestedVerification"
            },
            "nullable": true
          },
          "debugParameters": {
            "$ref": "#/components/schemas/DebugParameters"
          }
        },
        "additionalProperties": false
      },
      "CreateSessionResponse": {
        "type": "object",
        "properties": {
          "session": {
            "$ref": "#/components/schemas/Session"
          }
        },
        "additionalProperties": false
      },
      "CredentialRequestData": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/VerificationType"
          },
          "name": {
            "minLength": 1,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DebugIdvProviderSelection": {
        "enum": [
          "Default",
          "IdVerse",
          "Argos",
          "Clear",
          "Yoti",
          "EidEasy"
        ],
        "type": "string"
      },
      "DebugParameters": {
        "type": "object",
        "properties": {
          "demoRelyingParty": {
            "$ref": "#/components/schemas/DemoRelyingParty"
          },
          "idvProviderSelection": {
            "$ref": "#/components/schemas/DebugIdvProviderSelection"
          },
          "experiments": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DemoRelyingParty": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "logoUrl": {
            "type": "string",
            "nullable": true
          },
          "primaryColor": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ExternalIdentity": {
        "required": [
          "identity"
        ],
        "type": "object",
        "properties": {
          "identity": {
            "maxLength": 1000,
            "minLength": 1,
            "type": "string"
          },
          "provider": {
            "$ref": "#/components/schemas/IdentityProvider"
          }
        },
        "additionalProperties": false
      },
      "FailureMessage": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetSessionResponseV1": {
        "type": "object",
        "properties": {
          "session": {
            "$ref": "#/components/schemas/Session"
          }
        },
        "additionalProperties": false
      },
      "GovernmentIDOptions": {
        "type": "object",
        "properties": {
          "idNumber": {
            "type": "boolean"
          },
          "givenName": {
            "type": "boolean"
          },
          "familyName": {
            "type": "boolean"
          },
          "address": {
            "type": "boolean"
          },
          "dateOfBirth": {
            "type": "boolean"
          },
          "country": {
            "type": "boolean"
          },
          "issueDate": {
            "type": "boolean"
          },
          "expirationDate": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "IDVSessionState": {
        "enum": [
          "IdvCreated",
          "IdvInitiated",
          "IdvAuthenticating",
          "IdvInProgress",
          "IdvSuccess",
          "IdvFailed"
        ],
        "type": "string"
      },
      "IdentityProvider": {
        "enum": [
          "Unknown",
          "Email",
          "Phone",
          "Passkey",
          "TrinsicAuthenticator"
        ],
        "type": "string"
      },
      "ListSessionsRequest": {
        "required": [
          "orderBy",
          "orderDirection"
        ],
        "type": "object",
        "properties": {
          "orderBy": {
            "$ref": "#/components/schemas/SessionOrdering"
          },
          "orderDirection": {
            "$ref": "#/components/schemas/OrderDirection"
          },
          "pageSize": {
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "page": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "ListSessionsResponseV1": {
        "type": "object",
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "NormalizedGovernmentIdData": {
        "type": "object",
        "properties": {
          "idNumber": {
            "type": "string",
            "nullable": true
          },
          "givenName": {
            "type": "string",
            "nullable": true
          },
          "familyName": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "dateOfBirth": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "issueDate": {
            "type": "string",
            "nullable": true
          },
          "expirationDate": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OrderDirection": {
        "enum": [
          "Ascending",
          "Descending"
        ],
        "type": "string"
      },
      "RequestedVerification": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/VerificationType"
          },
          "governmentIdOptions": {
            "$ref": "#/components/schemas/GovernmentIDOptions"
          }
        },
        "additionalProperties": false
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "clientToken": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "$ref": "#/components/schemas/IDVSessionState"
          },
          "verifications": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Verification"
            },
            "nullable": true
          },
          "failCode": {
            "$ref": "#/components/schemas/SessionFailCode"
          },
          "resultVp": {
            "type": "string",
            "nullable": true
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "updated": {
            "type": "integer",
            "format": "int64"
          }
        },
        "additionalProperties": false
      },
      "SessionFailCode": {
        "enum": [
          "SessionFailNone",
          "SessionFailInternal",
          "SessionFailVerificationFailed",
          "SessionFailAuthentication",
          "SessionFailExpired",
          "SessionFailUserCanceled",
          "SessionFailRpcCanceled"
        ],
        "type": "string"
      },
      "SessionOrdering": {
        "enum": [
          "Created",
          "Updated",
          "State"
        ],
        "type": "string"
      },
      "ValidationResult": {
        "type": "object",
        "properties": {
          "memberNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "readOnly": true
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Verification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/VerificationType"
          },
          "state": {
            "$ref": "#/components/schemas/VerificationState"
          },
          "failCode": {
            "$ref": "#/components/schemas/VerificationFailCode"
          },
          "reused": {
            "type": "boolean"
          },
          "updated": {
            "type": "integer",
            "format": "int64"
          },
          "governmentIdOptions": {
            "$ref": "#/components/schemas/GovernmentIDOptions"
          },
          "normalizedGovernmentIdData": {
            "$ref": "#/components/schemas/NormalizedGovernmentIdData"
          }
        },
        "additionalProperties": false
      },
      "VerificationFailCode": {
        "enum": [
          "VerificationFailNone",
          "VerificationFailInternal",
          "VerificationFailInvalidImage",
          "VerificationFailInauthentic",
          "VerificationFailUnsupportedDocument"
        ],
        "type": "string"
      },
      "VerificationState": {
        "enum": [
          "VerificationPending",
          "VerificationSuccess",
          "VerificationFailed"
        ],
        "type": "string"
      },
      "VerificationType": {
        "enum": [
          "GovernmentId"
        ],
        "type": "string"
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "Trinsic Connect API Key",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "Bearer": [ ]
    }
  ]
}