# Org.OpenAPITools.Model.Verification

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**Id** | **string** |  | [optional] 
**Type** | **VerificationType** |  | [optional] 
**State** | **VerificationState** |  | [optional] 
**FailCode** | **VerificationFailCode** |  | [optional] 
**Reused** | **bool** |  | [optional] 
**Updated** | **long** |  | [optional] 
**GovernmentIdOptions** | [**GovernmentIDOptions**](GovernmentIDOptions.md) |  | [optional] 
**NormalizedGovernmentIdData** | [**NormalizedGovernmentIdData**](NormalizedGovernmentIdData.md) |  | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)

