.md-header {
    /* background-color: #333; */
    box-shadow: none !important;
    /* #006BE5; */
}

:root {
    --md-primary-fg-color:        #006BE5;
    --md-primary-fg-color--light: #B3D6FF;
    --md-primary-fg-color--dark:  #003B80;
  }

[data-md-color-scheme="slate"] {
    --md-hue: 200; /* [0, 360] */
}

.md-header__button.md-logo {
    margin-bottom: .4rem;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg, .md-nav__title .md-nav__button.md-logo img, .md-nav__title .md-nav__button.md-logo svg {
    width: auto;
    height: 1.8rem;
}