name: Python

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - "python/**"
      - "proto/**"
      - ".github/workflows/*python*"
  push:
    branches:
      - main
    paths:
      - "python/**"
      - "proto/**"
      - ".github/workflows/*python*"

jobs:
  build-and-test-python:
    name: Test Python code
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build, Test, Pack
        run: |
          python -m pip install -r requirements.txt
          python -m pip install pytest pytest-cov
          python ../devops/build_sdks.py --github-token=${{ secrets.API_GITHUB_TOKEN }}
          python -m pytest --cache-clear ./tests --junitxml=test_output.xml --cov=.
        shell: pwsh
        working-directory: python
        env:
          API_GITHUB_TOKEN: ${{ secrets.API_GITHUB_TOKEN }}
          TRINSIC_SERVER_ADDRESS: http://20.75.134.127:80/
      - name: Upload Unit Test Results - Python
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: Python ${{ matrix.python-version }} Unit Test Results (${{ matrix.os }})
          path: 'python/test_output*.xml'

  publish-test-results-python:
    name: Publish Python Test Results
    needs: build-and-test-python
    runs-on: ubuntu-latest
    if: always()

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          path: artifacts
      - name: Publish Test Report - Python
        uses: EnricoMi/publish-unit-test-result-action@v1.23
        with:
          files: 'artifacts/**/*.xml'
          check_name: Python Test Report