# TrinsicConnect.model.Verification

## Load the model package
```dart
import 'package:TrinsicConnect/api.dart';
```

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**provider** | **String** | The identity provider that was used to perform the Verification, if any | [optional] 
**failCode** | [**VerificationFailCode**](VerificationFailCode.md) | If the Verification is in state `VerificationFailed`, this field contains the reason for failure | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


