# TrinsicConnect.model.Verification

## Load the model package
```dart
import 'package:TrinsicConnect/api.dart';
```

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**id** | **String** |  | 
**state** | [**VerificationState**](VerificationState.md) |  | 
**failCode** | [**VerificationFailCode**](VerificationFailCode.md) |  | [optional] 
**reused** | **bool** |  | 
**updated** | **int** |  | 
**disclosedFields** | [**DisclosedFields**](DisclosedFields.md) |  | 
**identityData** | [**IdentityData**](IdentityData.md) |  | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


