# Trinsic Connect.model.Verification

## Load the model package
```dart
import 'package:Trinsic Connect/api.dart';
```

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**id** | **String** |  | [optional] 
**type** | [**VerificationType**](VerificationType.md) |  | [optional] 
**state** | [**VerificationState**](VerificationState.md) |  | [optional] 
**failCode** | [**VerificationFailCode**](VerificationFailCode.md) |  | [optional] 
**reused** | **bool** |  | [optional] 
**updated** | **int** |  | [optional] 
**governmentIdOptions** | [**GovernmentIDOptions**](GovernmentIDOptions.md) |  | [optional] 
**normalizedGovernmentIdData** | [**NormalizedGovernmentIdData**](NormalizedGovernmentIdData.md) |  | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


